In [1]:
import numpy as np
import pandas as pd

In [2]:
parse_dates = ['Date', 'Day']
df = pd.read_csv('data/nyc-east-river-bicycle-counts.csv', index_col=0, parse_dates=parse_dates)

In [3]:
df.head()

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [4]:
df['Day'] = df.Day.dt.weekday

In [5]:
df.head(20)

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,2016-04-01,4,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,2016-04-02,5,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2016-04-03,6,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,2016-04-05,1,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471
5,2016-04-06,2,45.0,30.0,0,1885.0,3329,3856.0,2849.0,11919
6,2016-04-07,3,57.0,53.1,0.09,1276.0,2581,3282.0,2457.0,9596
7,2016-04-08,4,46.9,44.1,0.01,1982.0,3455,4113.0,3194.0,12744
8,2016-04-09,5,43.0,37.9,0.09,504.0,997,1507.0,1502.0,4510
9,2016-04-10,6,48.9,30.9,0,1447.0,2387,3132.0,2160.0,9126
10,2016-04-11,0,62.1,46.0,0.01,2005.0,3791,4334.0,3182.0,13312
11,2016-04-12,1,57.0,45.0,0.2,1045.0,2178,2762.0,2082.0,8067
12,2016-04-13,2,57.0,39.9,0,2840.0,5395,5995.0,4192.0,18422
13,2016-04-14,3,62.1,44.6,0,2861.0,5309,6030.0,4115.0,18315
14,2016-04-15,4,64.0,44.1,0,2770.0,5072,5816.0,3912.0,17570
15,2016-04-16,5,66.0,45.0,0,2384.0,4316,5624.0,4051.0,16375
16,2016-04-17,6,73.9,46.0,0,3147.0,4969,5867.0,4197.0,18180
17,2016-04-18,0,81.0,52.0,0,3871.0,6823,7432.0,4964.0,23090
18,2016-04-19,1,71.1,63.0,0,3501.0,6951,7834.0,5032.0,23318
19,2016-04-20,2,68.0,50.0,0,3450.0,6574,7639.0,4928.0,22591

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 210 non-null    datetime64[ns]
 1   Day                  210 non-null    int64
 2   High Temp (°F)       210 non-null    float64
 3   Low Temp (°F)        210 non-null    float64
 4   Precipitation        210 non-null    object
 5   Brooklyn Bridge      210 non-null    float64
 6   Manhattan Bridge     210 non-null    int64
 7   Williamsburg Bridge  210 non-null    float64
 8   Queensboro Bridge    210 non-null    float64
 9   Total                210 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 18.0+ KB

In [7]:
df['Precipitation'].str.fullmatch(r'[0-9]*.[0-9]*')

0       True
1       True
2       True
3      False
4       True
       ...
205     True
206     True
207     True
208     True
209     True
Name: Precipitation, Length: 210, dtype: bool

In [8]:
df[~df['Precipitation'].str.fullmatch(r'[0-9]*.[0-9]*')]

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
3,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
33,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
63,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
93,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
123,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
153,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
183,2016-04-04,0,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335

In [9]:
df['Precipitation'] = df['Precipitation'].str.replace(r'\(*[a-zA-Z]\)*', '', regex=True)

In [10]:
df.head()

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,2016-04-01,4,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,2016-04-02,5,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2016-04-03,6,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,2016-04-04,0,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,2016-04-05,1,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 210 non-null    datetime64[ns]
 1   Day                  210 non-null    int64
 2   High Temp (°F)       210 non-null    float64
 3   Low Temp (°F)        210 non-null    float64
 4   Precipitation        210 non-null    object
 5   Brooklyn Bridge      210 non-null    float64
 6   Manhattan Bridge     210 non-null    int64
 7   Williamsburg Bridge  210 non-null    float64
 8   Queensboro Bridge    210 non-null    float64
 9   Total                210 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 18.0+ KB

In [12]:
df['Precipitation'] = df['Precipitation'].str.strip()

In [13]:
df['Precipitation'] = df['Precipitation'].apply(lambda x: np.nan if x == '' else x)

In [14]:
df['Precipitation'].astype('float64')

0      0.01
1      0.15
2      0.09
3      0.47
4      0.00
       ...
205    0.24
206    0.00
207    0.00
208    0.05
209    0.00
Name: Precipitation, Length: 210, dtype: float64

In [15]:
df = df.dropna()

In [16]:
df.head()

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,2016-04-01,4,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,2016-04-02,5,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2016-04-03,6,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,2016-04-04,0,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,2016-04-05,1,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 209
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 203 non-null    datetime64[ns]
 1   Day                  203 non-null    int64
 2   High Temp (°F)       203 non-null    float64
 3   Low Temp (°F)        203 non-null    float64
 4   Precipitation        203 non-null    object
 5   Brooklyn Bridge      203 non-null    float64
 6   Manhattan Bridge     203 non-null    int64
 7   Williamsburg Bridge  203 non-null    float64
 8   Queensboro Bridge    203 non-null    float64
 9   Total                203 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 17.4+ KB

In [18]:
df.describe()

,Day,High Temp (°F),Low Temp (°F),Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
count,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,3.068966,59.975862,45.841379,2245.310345,4019.965517,4820.034483,3335.310345,14420.620690
std,2.003752,10.880933,9.163167,989.119209,1726.400368,1830.435117,1113.975602,5630.232122
min,0.000000,39.900000,26.100000,504.000000,997.000000,1440.000000,1306.000000,4335.000000
25%,1.000000,55.000000,44.100000,1447.000000,2617.000000,3282.000000,2457.000000,9596.000000
50%,3.000000,62.100000,46.900000,2375.000000,4152.000000,5053.000000,3348.000000,14954.000000
75%,5.000000,68.000000,50.000000,3147.000000,5309.000000,5995.000000,4192.000000,18315.000000
max,6.000000,81.000000,66.000000,3871.000000,6951.000000,7834.000000,5032.000000,23318.000000

In [19]:
df['High Temp (°C)'] = df['High Temp (°F)'].apply(lambda x: round((x - 32) * 5 / 9, 1))
df['Low Temp (°C)'] = df['Low Temp (°F)'].apply(lambda x: round((x - 32) * 5 / 9, 1))
df

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total,High Temp (°C),Low Temp (°C)
0,2016-04-01,4,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497,25.6,18.9
1,2016-04-02,5,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922,12.8,9.4
2,2016-04-03,6,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759,4.4,1.1
3,2016-04-04,0,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335,6.7,0.6
4,2016-04-05,1,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471,5.6,-3.3
...,...,...,...,...,...,...,...,...,...,...,...,...
205,2016-04-26,1,60.1,46.9,0.24,1997.0,3520,4559.0,2929.0,13005,15.6,8.3
206,2016-04-27,2,62.1,46.9,0,3343.0,5606,6577.0,4388.0,19914,16.7,8.3
207,2016-04-28,3,57.9,48.0,0,2486.0,4152,5336.0,3657.0,15631,14.4,8.9
208,2016-04-29,4,57.0,46.9,0.05,2375.0,4178,5053.0,3348.0,14954,13.9,8.3
209,2016-04-30,5,64.0,48.0,0,3199.0,4952,5675.0,3606.0,17432,17.8,8.9

In [20]:
df.drop(['High Temp (°F)', 'Low Temp (°F)'], axis=1, inplace=True)
df.head()

,Date,Day,Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total,High Temp (°C),Low Temp (°C)
0,2016-04-01,4,0.01,1704.0,3126,4115.0,2552.0,11497,25.6,18.9
1,2016-04-02,5,0.15,827.0,1646,2565.0,1884.0,6922,12.8,9.4
2,2016-04-03,6,0.09,526.0,1232,1695.0,1306.0,4759,4.4,1.1
3,2016-04-04,0,0.47,521.0,1067,1440.0,1307.0,4335,6.7,0.6
4,2016-04-05,1,0,1416.0,2617,3081.0,2357.0,9471,5.6,-3.3

In [21]:
df.columns = [name.replace(' ', '_') for name in df.columns.values]
df.head()

,Date,Day,Precipitation,Brooklyn_Bridge,Manhattan_Bridge,Williamsburg_Bridge,Queensboro_Bridge,Total,High_Temp_(°C),Low_Temp_(°C)
0,2016-04-01,4,0.01,1704.0,3126,4115.0,2552.0,11497,25.6,18.9
1,2016-04-02,5,0.15,827.0,1646,2565.0,1884.0,6922,12.8,9.4
2,2016-04-03,6,0.09,526.0,1232,1695.0,1306.0,4759,4.4,1.1
3,2016-04-04,0,0.47,521.0,1067,1440.0,1307.0,4335,6.7,0.6
4,2016-04-05,1,0,1416.0,2617,3081.0,2357.0,9471,5.6,-3.3

In [22]:
df = df[['Date', 'Day', 'Precipitation', 'High_Temp_(°C)', 'Low_Temp_(°C)', 'Brooklyn_Bridge', 'Manhattan_Bridge', 'Williamsburg_Bridge', 'Queensboro_Bridge', 'Total']]
df.head()

,Date,Day,Precipitation,High_Temp_(°C),Low_Temp_(°C),Brooklyn_Bridge,Manhattan_Bridge,Williamsburg_Bridge,Queensboro_Bridge,Total
0,2016-04-01,4,0.01,25.6,18.9,1704.0,3126,4115.0,2552.0,11497
1,2016-04-02,5,0.15,12.8,9.4,827.0,1646,2565.0,1884.0,6922
2,2016-04-03,6,0.09,4.4,1.1,526.0,1232,1695.0,1306.0,4759
3,2016-04-04,0,0.47,6.7,0.6,521.0,1067,1440.0,1307.0,4335
4,2016-04-05,1,0,5.6,-3.3,1416.0,2617,3081.0,2357.0,9471

In [22]:
df.to_csv